################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/1. HelloDataLake/.vs/HelloWorldForDataLake/v15
