################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/1. HelloDataLake/.vs/HelloWorldForDataLake/v15
/1. HelloDataLake/HelloWorldForDataLake/obj/Debug
/2. U-SQL-Cognitive-Sample/.vs/CognitiveSample/v15/Server/sqlite3
/2. U-SQL-Cognitive-Sample/.vs/CognitiveSample/v15/.suo
